.profile {}

.profile h1 {
    font-size: 50px;
    font-weight: 800;
    line-height: 87px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 8%;
    margin-left: 8%;
    color: #D1A306;
}

.unauthorized{
    height: 20rem;
    text-align: center;
    padding: 10%;
    font-weight: 300;
    color: white;
}


.unauthorized h1{
    font-weight: 300;
    color: white;
}
